@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main__container {
  scroll-snap-type: y mandatory;
  overflow: scroll;
  height: 100vh;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(43,4,150,1) 97%);
}
.tech__container {
  position: relative;
  z-index: 10;
  background: rgb(14,8,200);
background: radial-gradient(circle, rgba(14,8,200,1) 0%, rgba(0,0,0,1) 97%);
}

.about__me, .about__me__intro {
  background: rgb(14,8,200);
background: radial-gradient(circle, rgba(14,8,200,1) 0%, rgba(0,0,0,1) 97%);
}
.tech__section__intro {
  position: relative;
  z-index: 999;
  background: rgb(14,8,200);
background: radial-gradient(circle, rgba(14,8,200,1) 0%, rgba(0,0,0,1) 97%);
}
.project__card{
    background-color: rgb(30 41 59);
}


section {
  scroll-snap-align: start;
}

.active {
  display: block;
}

.contact__form {
  background-color: #292929;
}

.modal{
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}
.modal button{
  color: #444;
  border-color: #444;
  font-weight: bold;
  margin-top: 20px;
}
.modal p{
  color: #444;
  font-weight: bold;
}